files:
  "/etc/nginx/conf.d/00_elastic_beanstalk_https_redirect.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      server {
          listen 80;
          server_name danak.site www.danak.site;

          location / {
              return 301 https://$host$request_uri;
          }
      }
